<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'filmographie/main.css'%}">
        <meta charset="UTF-8">
        <title>{%block title%}Title{%endblock%}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/filmographie/">Home</a>
                <a href="/filmographie/view_all/categorie/">Categorie</a>
                <a href="/filmographie/view_all/film/">Films</a>
                <a href="/filmographie/view_all/acteur/">Acteur</a>
                <a href="/filmographie/ajout/inscription/">Sign In</a>
            </nav>
        </header>
    <div class="crud">
    {%block CRUD%}
    <p>pour le update et delete du CRUD</p>
    {%endblock%}
    </div>
    <div class="affiche">
    {%block affiche%}
    <h1>c'est ici que sera afficher les détails</h1>
    {%endblock%}
    </div>
    </body>
</html>
