<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'filmographie/main.css'%}">
        <title>{% block title %} Film {% endblock %} </title>
    </head>
    <body>
        <header>
            <form class="f1">
                <input type="text" placeholder="Le film que vous voullez">
                <button type="submit">Rechercher</button>
            </form>
            <nav>
                <a href="/filmographie/">Home</a>
                <a href="/filmographie/Commentaire">Commentaire</a>
                <a href="/filmographie/inscription/">Sign In</a>
            </nav>
        </header>
        {% block content %}

        {% endblock %}
        {% block form %}
            {%block test%}
            <form method="post" action="/filmographie/traitement/">
            {%endblock%}
                {% csrf_token %}
                {{ form.as_p }}
                <input class="send" type="submit" value="terminer">
            </form>
        {%endblock%}
    </body>