<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'filmographie/main.css'%}">
        <title>{% block title %} Film {% endblock %} </title>
    </head>
    <body>
        <header>
            
            <nav>
                <a href="/filmographie/">Home</a>
                <a href="/filmographie/view_all/categorie/">Categorie</a>
                <a href="/filmographie/view_all/film/">Films</a>
                <a href="/filmographie/view_all/acteur/">Acteur</a>
                <a href="/filmographie/inscription/">Sign In</a>
            </nav>
        </header>
        <h1>{% block content %}
            titre
        {% endblock %}</h1>
            <div class="form">
        {% block form %}
            {%block test%}
            <form method="post" action="/filmographie/traitement/">
            {%endblock%}
                {% csrf_token %}
                {{ form.as_p }}
                <input class="send" type="submit" value="terminer">
            </form>
        {%endblock%}
            </div>
    </body>