<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'filmographie/index.css'%}">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/filmographie/">Home</a>
                <a href="/filmographie/view_all/categorie/">Categorie</a>
                <a href="/filmographie/view_all/film/">Films</a>
                <a href="/filmographie/view_all/acteur/">Acteur</a>
                <a href="/filmographie/ajout/inscription/">Sign In</a>
            </nav>
        </header>
        {%block titre%}<p1>dire le type d'élément afficher</p1>{%endblock%}
        <div class = "d1">
            {%block ajout%}
            <h1>ici on ajoute</h1>
            {%endblock%}
        </div>
        {% block list %}
            <h1>ici c'est la liste</h1>
        {%endblock%}
    </body>
    </html>