<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'filmographie/main.css'%}">
        <title>{% block title %} Film {% endblock %} </title>
    </head>
    <body>
        <header>
            <form class="f1">
                <input type="text" placeholder="Le film que vous voullez">
                <button type="submit">Rechercher</button>
            </form>
            <nav>
                <a href="/filmographie/">Home</a>
                <a href="/filmographie/view_all/categorie/">Categorie</a>
                <a href="/filmographie/view_all/film/">Films</a>
                <a href="/filmographie/view_all/acteur/">Acteur</a>
                <a href="/filmographie/ajout/inscription/">Sign In</a>
            </nav>
        </header>
        {% block content %}
            <H1> Bienvenu sur le site </H1>
        {% endblock %}