<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'filmographie/main.css'%}">
        <title>{% block title %} Film {% endblock %} </title>
    </head>
    <body>
        <header>
            <form class="f1">
                <input type="text" placeholder="Le film que vous voullez">
                <button type="submit">Rechercher</button>
            </form>
            <nav>
                <a href="/filmographie/index">Home</a>
                <a href="/filmographie/Commentaire">Commentaire</a>
                <a href="/filmographie/SignIn">Sign In</a>
            </nav>
        </header>
        {% block content %}
            <H1> Bienvenu sur le site </H1>
        {% endblock %}
        {% block form %}
            {% csrf_token %}
            {{ form.as_p }}
            <input classe="send" type="submit" value="terminer"\>
        {%endblock%}
    </body>