{% extends "main.html" %} 

{%block content%}
<H1> Bien venu sur le site du Groupe 2 </H1>
<h2> SAÉ 2.03 Sujet: Filmographie</h2>
<h3> ROLLI Samuel RT111</h3>
<h3> POELLEN Dorian RT112</h3>
<h3> BLANC-CARRIER Baptiste RT111</h3>
<!--
<H2>ajouter des donnée a la base de donnée</H2>
<h3>Veuillez deposer un fichier .cvs avec la première ligne étant le nom des champs a remplire</h3>
<h3>pour le nom veuillez respecter le format 'table.csv' soit 'categorie.csv' ou 'film.csv'</h3>
<form method="POST" enctype="multipart/form-data" action="/filmographie/upload/">
    {% csrf_token %}
    <input type="file" name="csv_file" accept=".csv" required>
    <button type="submit">Upload</button>
</form>
-->
{%endblock%}