{% extends "main_view.html"%}

{%block title%} {{categorie.nom}} {%endblock%}
{%block CRUD%}
<a class="update" href="/filmographie/update/categorie/{{categorie.id}}/">Mettre a jour les informations de la catégorie</a>
<a  class="supp" href="/filmographie/delete/categorie/{{categorie.id}}/">SUPRIMER LA CATÉGORIE</a>
{%endblock%}
{%block affiche%}
<H1>catégorie: {{categorie.nom}}</H1>
<div class="contenu">
    <p> Déscription :</p>
    <p class="description_cate"> {{categorie.descriptif}}</p>

    <h2>Films dans cette catégorie:</h2>
    <div class="souslist">
    {% for film in films %}
        <li><a href='/filmographie/view/film/{{film.id}}'>{{ film.titre }}</a></li>
        
    {% empty %}
        <p>aucun film n'est recencé dans cette catégorie</p>
    {% endfor %}
    </div>
</div>
{%endblock%}