{% extends "main_view.html"%}

{%block title%} {{acteur.prenom}} {{acteur.nom}} {%endblock%}
{%block CRUD%}
<a href="/filmographie/update/acteur/{{acteur.id}}/">Mettre a jour les données de l'acteur</a>
<a href="/filmographie/delete/acteur/{{acteur.id}}/">SUPRIMER L'ACTEUR</a>
{%endblock%}
{%block affiche%}
<H1>{{acteur.nom}} {{acteur.prenom}}</H1>
<br>
<p> {{acteur.nom}} {{acteur.prenom}} a {{acteur.age}} ans</p>
<p> Film dans lesquels a joué {{acteur.nom}} {{acteur.prenom}}:</p>
    {% for film in films %}
        <li><a href='/filmographie/view/film/{{film.id}}'>{{ film.titre }}</a></li>
        
    {% empty %}
        <p>aucun film n'est recencé pour cet acteur n'hésitez pas a en ajouter en cliquant <a href="/filmographie/ajout/relation/">ici</a></a></p>
    {% endfor %}<a href="/filmographie/ajout/relation/">Ajouter un film dans le quel {{acteur.prenom}} {{acteur.nom}} a joué</a>
{%endblock%}